{% extends 'rayoMakween/base.html' %}
{% load static %}
{% block content %}
<!--CONTACTO-->
<div class="container-fluid">
  <div class="row p-3">
      <div class="col col-md-8 col-10 mx-auto fs-3 ">
          <h4 class="text-center fw-bold ">CONTACTO</h4>
          <p style="text-align: justify">
            ¡Contáctanos en Rayo Makween a través de nuestro formulario online! Visita nuestra página web en www.rayomakween.com y completa el formulario para enviarnos
            tus consultas o solicitudes. Estaremos encantados de atenderte y brindarte la información que necesitas sobre nuestros servicios automotrices.
          </p>
      </div>
  </div>
</div>
<!--END CONTACTO-->
<div class="container-fluid">
  <form  action = "regForms" method = 'POST'  class="row g-3 mb-5 p-5 needs-validation " style="background-color:darkgrey ;">{% csrf_token %}
    <h4 class="text-center ">CONTÁCTANOS</h4>
    <div class="col-xl-8 col-lg-10 col-md-10  mx-auto">
      <div class="row">
        {{ form }}
        <div class="col col-md mx-auto center-block">
            <label for="validationCustom01" class="form-label">Nombre</label>
            <input id="txtNombre" type="text" class="form-control"  name= "txtNombre" value="" placeholder="Nombre" required>
            <div class="valid-feedback">¡Ok!</div>
            <div class="invalid-feedback">Por favor, Ingresa un Nombre.</div>
        </div>
        <div class="col col-md mx-auto center-block">
          <label for="validationCustom02" class="form-label">Apellido</label>
          <input id="txtApellido" type="text" class="form-control"  name= "txtApellido" value="" placeholder="Apellido" required>
          <div class="valid-feedback">¡Ok!</div>
          <div class="invalid-feedback">Por favor, Ingresa un Apellido.</div>
        </div>
      </div>
      <!--primera columna-->
      <div class="row">
        <div class="col col-md mx-auto center-block">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span id="inputGroupPrepend" class="input-group-text" ></span>
            <input id="txtEmail" type="text" class="form-control" placeholder="email@mail.com" aria-describedby="inputGroupPrepend" required>
            <div class="valid-feedback">¡Ok!</div>
            <div class="invalid-feedback">Por favor, Ingresa un Email.</div>
          </div>
        </div>
        <div class="col col-md mx-auto center-block">
            <label for="validationCustomUsername" class="form-label">Celular</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">+569</span>
              <input id='numCelular' type="text" class="form-control" placeholder="999 999 999" aria-describedby="inputGroupPrepend" required>
              <div class="valid-feedback">¡Ok!</div>
              <div class="invalid-feedback">Por favor, Ingresa un Celular.</div>
            </div>
        </div>
      </div>
        <!--segunda columna-->
      <div class="row">
          <div class="col col-md mx-auto center-block">
            <label for="validationCustom04" class="form-label">Servicios</label>
            <select id="txtServicios" class="form-select"  required>
              <option selected value="">Servicios</option>
              <option value="1">Cambio de Aceite</option>
              <option value="2">Remplazo de Bateria</option>
              <option value="3">Mantención Preventiva</option>
              <option value="4">Sistemas Eléctricos</option>
              <option value="5">Alineación y Balanceo de Ruedas</option>
              <option value="6">Cambio de Filtro</option>
            </select>
            <div class="valid-feedback">¡Ok!</div>
            <div class="invalid-feedback">Selecciona un estado válido.</div>
          </div>
        </div>
        <!--tercera columna-->
        <div class="col">
          <label for="validationCustom05" class="form-label">Comentario</label>
          <textarea id="txtComentario" class="form-control" placeholder="Ingese su Comentario" rows="3" ></textarea>
          <div class="valid-feedback">¡Ok!</div>
          <div class="invalid-feedback">Proporciona un código postal válido.</div>
        </div>
        <div class="col">
          <div class="form-check">
            <input id="invalidCheck" class="form-check-input" type="checkbox" value=""  required>
            <label class="form-check-label" for="invalidCheck">Acepta los términos y condiciones</label>
            <div class="invalid-feedback">Debe estar de acuerdo antes de enviar.</div>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-primary" type="submit">Enviar formulario</button>
        </div>
      </div>
  </form>
</div>
{% endblock content %}