{% extends 'rayoMakween/base.html' %}
{% load static %}
{% block content %}
<!--SERVICIOS-->
<div class="container-fluid">
    <div class="row mb-5 p-5 text-center">
        <div class="col col-2"></div>
        <div class="col col-8 fs-3" style=" text-align: justify;">
            <h4 class="text-center fw-bold">PRECIOS</h4>
            <p>En Rayo Makween, nos preocupamos por ofrecerte servicios automotrices de calidad a precios competitivos. Nuestros servicios tienen tarifas accesibles y 
                estamos constantemente ofreciendo promociones y descuentos especiales para brindarte un mayor valor por tu dinero. </p>
            <p>
                Te invitamos a contactarnos directamente para obtener información actualizada sobre nuestras tarifas, ofertas y descuentos vigentes. Estaremos encantados 
                de brindarte una cotización personalizada y responder a todas tus preguntas relacionadas con los precios y las ofertas disponibles. En Rayo Makween, 
                nos esforzamos por ofrecerte servicios de calidad a precios competitivos, para que puedas mantener tu vehículo en óptimas condiciones sin comprometer tu
                presupuesto.
            </p>
        </div>
        <div class="col col-2"></div>
    </div>
</div>
<!--END SERVICIOS-->
<!-- Cards -->
    <div class="container-fluid">
        <div class="row p-3 ">
            <div class="col-2"></div>
            <!--CARDS CAMBIO ACEITE-->
            <div class="col-sm-4 mb-3 center">
                <div class="card text-center">
                    <div id="id_cambio_aceite" class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">CAMBIO DE ACEITE</h5>
                        <img  src="{% static 'img/cambio_aceite_02.jpg' %}" class="card-img-top" alt="...">
                        <h3 class="p-2" style="font-weight: lighter;">Cotización personalizada en Rayo Makween: mantenimiento preventivo, cambio de aceite y reemplazo de baterías. 
                        ¡Contáctanos ahora!"</h3>
                        <a href="CAMBIO_DE_ACEITE.html" class="btn btn-primary mt-3">IR</a>
                    </div>
                </div>
            </div>
             <!--END CARDS CAMBIO ACEITE-->
             <!--PARRAFO CAMBIO ACEITE-->
            <div class="col col-4 fs-3">
                <h3 class="fw-bold text-center">CAMBIO DE ACEITE</h3>
                <p style=" text-align: justify; padding-bottom: 10px;">Nuestros precios en Rayo Makween reflejan nuestro compromiso de brindarte servicios automotrices de calidad a precios accesibles.
                Para el cambio de aceite, ofrecemos opciones tanto de aceite convencional como sintético, con tarifas de $30.000 CLP y $45.000 CLP respectivamente. 
                Además, contamos con ofertas especiales que incluyen descuentos del 10% en el cambio de aceite al realizar el servicio de mantenimiento preventivo.</p>
                <h3 class="fw-bold text-center">VALOR</h3>
                <ul>
                    <li>Aceite convencional: $30.000 CLP</li>
                    <li>sintético: $45.000 CLP</li> 
                    <p class="text-danger">Oferta especial: ¡10% de descuento en el cambio de aceite con el servicio de mantenimiento preventivo!</p> 
                </ul>
            </div>
            <!--END PARRAFO CAMBIO ACEITE-->
        </div>
        <div class="row p-3 ">
            <div class="col-2"></div>
            <!--CARDS REMPLAZO BATERIA-->
            <div class="col-sm-4 mb-3 center">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">REMPLAZO DE BATERIA</h5>
                        <img src="{% static 'img/02.-BATERIA.jpg' %}" class="card-img-top" alt="...">
                        <h3 class="p-2" style="font-weight: lighter;">Cotización personalizada en Rayo Makween: mantenimiento preventivo, cambio de aceite y reemplazo de baterías. 
                        ¡Contáctanos ahora!"</h3>
                        <a href="CAMBIO_DE_ACEITE.html" class="btn btn-primary mt-3">IR</a>
                    </div>
                </div>
            </div>
             <!--END CARDS REMPLAZO BATERIA-->
             <!--PARRAFO REMPLAZO BATERIA-->
            <div class="col col-4 fs-3">
                <h3 class="fw-bold text-center">CAMBIO DE ACEITE</h3>
                <p style=" text-align: justify; padding-bottom: 10px;">En cuanto al reemplazo de batería, nuestros precios comienzan desde $80.000 CLP para baterías estándar,
                incluyendo la instalación, y $120.000 CLP para baterías de alto rendimiento. Asimismo, al realizar la mantención preventiva, puedes aprovechar un descuento del 15% 
                en el reemplazo de batería.</p>
                <h3 class="fw-bold text-center">VALOR</h3>
                <ul>
                    <li>Batería estándar: $80.000 CLP (incluye instalación)</li>
                    <li>Batería de alto rendimiento: $120.000 CLP (incluye instalación)</li> 
                    <p class="text-danger">Oferta especial: ¡15% de descuento en el reemplazo de batería al realizar la mantención preventiva!</p> 
                </ul>
            </div>
        </div>
        <!--END PARRAFO REMPLAZO BATERIA--> 
        <div class="row p-3 ">
            <div class="col-2"></div>
            <!--CARDS MANTENIMIENTO PREVENTIVO-->
            <div class="col-sm-4 mb-3 center">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">MANTENIMIENTO PREVENTIVO</h5>
                        <img src="{% static 'img/03.-MANTENCION.jpg' %}" class="card-img-top" alt="...">
                        <h3 class="p-2" style="font-weight: lighter;">Cotización personalizada en Rayo Makween: mantenimiento preventivo, cambio de aceite y reemplazo de baterías. 
                        ¡Contáctanos ahora!"</h3>
                        <a href="CAMBIO_DE_ACEITE.html" class="btn btn-primary mt-3">IR</a>
                    </div>
                </div>
            </div>
                <!--END CARDS MANTENIMIENTO PREVENTIVO-->
                <!--PARRAFO MANTENIMIENTO PREVENTIVO-->
            <div class="col col-4 fs-3">
                <h3 class="fw-bold text-center">MANTENIMIENTO PREVENTIVO</h3>
                <p style=" text-align: justify; padding-bottom: 10px;">Nuestros servicios de mantenimiento preventivo varían en precio según el tipo de revisión.
                La revisión de fluidos y niveles tiene un costo de $50.000 CLP, mientras que la inspección de frenos y neumáticos tiene un valor de $60.000 CLP.
                Por otro lado, el diagnóstico computarizado está disponible por $80.000 CLP. Para brindarte aún más beneficios, te ofrecemos un descuento del 20% en 
                el mantenimiento preventivo al combinarlo con el cambio de filtros.</p>
                <h3 class="fw-bold text-center">VALOR</h3>
                <ul>
                    <li>Revisión de fluidos y niveles: $50.000 CLP</li>
                    <li>Inspección de frenos y neumáticos: $60.000 CLP</li> 
                    <li>Diagnóstico computarizado: $80.000 CLP</li> 
                    <p class="text-danger">Oferta especial: ¡20% de descuento en el mantenimiento preventivo al combinarlo con el cambio de filtros!</p> 
                </ul>
            </div>
        </div>
        <!--END PARRAFO MANTENIMIENTO PREVENTIVO-->
        <div class="row p-3 ">
            <div class="col-2"></div>
            <!--CARDS SISTEMA ELÉCTRICO-->
            <div class="col-sm-4 mb-3 center">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">SISTEMA ELÉCTRICO</h5>
                        <img src="{% static 'img/mecanico_04.jpg' %}" class="card-img-top" alt="...">
                        <h3 class="p-2" style="font-weight: lighter;">Cotización personalizada en Rayo Makween: mantenimiento preventivo, cambio de aceite y reemplazo de baterías. 
                        ¡Contáctanos ahora!"</h3>
                        <a href="CAMBIO_DE_ACEITE.html" class="btn btn-primary mt-3">IR</a>
                    </div>
                </div>
            </div>
                <!--END CARDS SISTEMA ELÉCTRICO-->
                <!--PARRAFO SISTEMA ELÉCTRICO-->
            <div class="col col-4 fs-3">
                <h3 class="fw-bold text-center">SISTEMA ELÉCTRICO</h3>
                <p style=" text-align: justify; padding-bottom: 10px;">En cuanto a los sistemas eléctricos, nuestros servicios de diagnóstico y reparación básica tienen un
                     costo de $70.000 CLP por hora, mientras que la reparación de cableado y fusibles tiene un valor de $90.000 CLP por hora. Si realizas la alineación y 
                     balanceo de ruedas junto con la reparación eléctrica, recibirás un descuento especial del 10%.</p>
                <h3 class="fw-bold text-center">VALOR</h3>
                <ul>
                    <li>Diagnóstico y reparación básica: $70.000 CLP por hora</li>
                    <li>Reparación de cableado y fusibles: $90.000 CLP por hora</li> 
                    <p class="text-danger">Oferta especial: ¡Descuento del 10% en servicios de reparación eléctrica al realizar la alineación y balanceo de ruedas!</p> 
                </ul>
            </div>
        </div>
        <!--END PARRAFO SISTEMA ELÉCTRICO-->
        <div class="row p-3 ">
            <div class="col-2"></div>
            <!--CARDS ALINEACIÓN Y BALANCEO DE RUEDAS-->
            <div class="col-sm-4 mb-3 center">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">ALINEACIÓN Y BALANCEO DE RUEDAS</h5>
                        <img src="{% static 'img/mecanico_05.jpg' %}" class="card-img-top" alt="...">
                        <h3 class="p-2" style="font-weight: lighter;">Cotización personalizada en Rayo Makween: mantenimiento preventivo, cambio de aceite y reemplazo de baterías. 
                        ¡Contáctanos ahora!"</h3>
                        <a href="CAMBIO_DE_ACEITE.html" class="btn btn-primary mt-3">IR</a>
                    </div>
                </div>
            </div>
                <!--END CARDS ALINEACIÓN Y BALANCEO DE RUEDAS-->
                <!--PARRAFO ALINEACIÓN Y BALANCEO DE RUEDAS-->
            <div class="col col-4 fs-3">
                <h3 class="fw-bold text-center">ALINEACIÓN Y BALANCEO DE RUEDAS</h3>
                <p style=" text-align: justify; padding-bottom: 10px;">El servicio de alineación y balanceo de ruedas, ofrecemos precios competitivos de $80.000 CLP para la alineación de las 4 ruedas y $40.000 CLP para el balanceo de las mismas. Además, al realizar la alineación y balanceo, te ofrecemos un cambio de filtros gratuito</p>
                <h3 class="fw-bold text-center">VALOR</h3>
                <ul>
                    <li>Alineación de las 4 ruedas: $80.000 CLP</li>
                    <li>Balanceo de las 4 ruedas: $40.000 CLP</li> 
                    <p class="text-danger">Oferta especial: ¡Cambio de filtros gratis al realizar la alineación y balanceo de ruedas!</p> 
                </ul>
            </div>
        </div>
        <!--END PARRAFO SISTEMA ELÉCTRICO-->
        <div class="row p-3 ">
            <div class="col-2"></div>
            <!--CARDS CAMBIO DE FILTROS-->
            <div class="col-sm-4 mb-3 center">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">CAMBIO DE FILTROS</h5>
                        <img src="{% static 'img/filtros_01.jpg' %}" class="card-img-top" alt="...">
                        <h3 class="p-2" style="font-weight: lighter;">Cotización personalizada en Rayo Makween: mantenimiento preventivo, cambio de aceite y reemplazo de baterías. 
                        ¡Contáctanos ahora!"</h3>
                        <a href="CAMBIO_DE_ACEITE.html" class="btn btn-primary mt-3">IR</a>
                    </div>
                </div>
            </div>
                <!--END CARDS CAMBIO DE FILTROS-->
                <!--PARRAFO CAMBIO DE FILTROS-->
            <div class="col col-4 fs-3">
                <h3 class="fw-bold text-center">CAMBIO DE FILTROS</h3>
                <p style=" text-align: justify; padding-bottom: 10px;">Nuestros precios para el cambio de filtros varían según el tipo de filtro que necesites reemplazar, como el filtro de aire, el filtro de aceite y el filtro de combustible. Nos aseguramos de utilizar filtros de alta calidad que cumplen con los estándares y especificaciones recomendadas por los fabricantes de vehículos.</p>
                <h3 class="fw-bold text-center">VALOR</h3>
                <ul>
                    <li>Filtro de aire: $15.000 CLP</li>
                    <li>Filtro de aceite: $10.000 CLP</li> 
                    <li>Filtro de combustible: $20.000 CLP</li> 
                    <p class="text-danger">Oferta especial: ¡Descuento del 15% en el cambio de filtros al realizar el reemplazo de batería!</p> 
                </ul>
            </div>
        </div>
        <!--END PARRAFO SISTEMA ELÉCTRICO-->
    </div>
{% endblock %}
